{% extends "donation/base.html" %}
{% block content %}
    <h1 style="color:rgb(0, 255, 13)">About Us</h1>
    <div style="background: ghostwhite; 
            font-size: 20px; 
            padding: 10px; 
            border: 1px solid lightgray; 
            margin: 10px;">
           e-waste is dangerous when improperly disposed of. Electronic devices are comprised of toxic substances and heavy metals. Materials such as chromium, cadmium, mercury and lead can leach into the soil contaminating the air and waterways. So as to eradicate this problem, we provide this online platfrom to help everyone of our users to donate their faulty electronic devices instead of dumping it on some public bins. For you its a waste and for someone else its a treasure. Recycle and save our mother earth!!!
    </div>
{% endblock content %}  